<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>软件信息</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
    <link rel="stylesheet" href="../../resources/css/softwareinfo.css" type="text/css"></link>
    <script type="text/javascript" src="../../resources/js/jquery-1.7.1.min.js"></script>

</head>

<body>
<div class="infoPage">
    <div class="infoPageCon">
        <div class="accountInfo infoCon">
            <div class="infoTitle">演艺通公众号信息</div>
            <div class="info-input_1 input-licence">
             <input type="image" placeholder="" class="accountNum"  id = "information" src=""/> 
            <!-- <img id="information"  style="height:100%;width:100%;border:1px solid black;" ></img> -->
            
            
        </div>
        
        
        </div>
    </div>
   
</body>
<script type="text/javascript">
$(function(){
	$.ajax({
		url: "http://120.55.40.199:80/yyt_app/WebMainServlet",
		type: "POST",
        data:{"method":"searchAllInformationsWeb","page":"1","limit":"30"},
        dataType: "json",
    	 success: function(data){
    		 $("#information").attr("src",data.data[0].img_url);
    	}
	});
})
</script>
</html>